div.Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:496px;
	height:701px;
}

div.CareerBreederLogo {
	position:absolute;
	left:0px;
	top:0px;
	width:284px;
	height:121px;
}

div.page1-02 {
	position:absolute;
	left:284px;
	top:0px;
	width:23px;
	height:129px;
}

div.page1-03 {
	position:absolute;
	left:307px;
	top:0px;
	width:189px;
	height:25px;
}

div.RefNo {
	position:absolute;
	left:307px;
	top:25px;
	width:189px;
	height:24px;
}

div.Barcode {
	position:absolute;
	left:307px;
	top:49px;
	width:189px;
	height:41px;
}

div.page1-06 {
	position:absolute;
	left:307px;
	top:90px;
	width:189px;
	height:31px;
}

div.page1-07 {
	position:absolute;
	left:0px;
	top:121px;
	width:284px;
	height:8px;
}

div.page1-08 {
	position:absolute;
	left:307px;
	top:121px;
	width:189px;
	height:8px;
}

div.page1-09 {
	position:absolute;
	left:0px;
	top:129px;
	width:496px;
	height:13px;
}

div.page1-10 {
	position:absolute;
	left:0px;
	top:142px;
	width:496px;
	height:32px;
}

div.page1-11 {
	position:absolute;
	left:0px;
	top:174px;
	width:496px;
	height:29px;
}

div.IndicatorImage {
	position:absolute;
	left:0px;
	top:203px;
	width:496px;
	height:190px;
}

div.page1-13 {
	position:absolute;
	left:0px;
	top:393px;
	width:340px;
	height:31px;
}

div.page1-14 {
	position:absolute;
	left:340px;
	top:393px;
	width:133px;
	height:31px;
}

div.page1-15 {
	position:absolute;
	left:473px;
	top:393px;
	width:23px;
	height:31px;
}

div.page1-16 {
	position:absolute;
	left:0px;
	top:424px;
	width:496px;
	height:219px;
}

div.page1-17 {
	position:absolute;
	left:0px;
	top:643px;
	width:496px;
	height:58px;
}